
.version {
  visibility: hidden;
  opacity: 0.5;
  background-color: #282c34;
  padding: 0.5%;
  line-height: 0.9;
  border-radius: 10px;
  color: white;
  position: fixed;
  right: 1%;
  bottom: 1%;
}

.main-logo {
  position: fixed;
  width: 140px;
  top: calc(5*0.5625vw);
  left: 5vw;
  z-index: 3;
  //background-color: blue;
  //filter: grayscale(100%);
  filter: invert(1);
  //mix-blend-mode: difference;

  &.short {
    filter: invert(0);
    width: 40px;
  }
}

.paging {
  position: absolute;
  right: 7vw;
  height: calc(20*0.5625vw);
  transform: translate(0,-50%);
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .dot {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #f1f2f2;
    margin-bottom: 5px;
    cursor: pointer;

    &.dark {
      background-color: #808285;
    }

    &.sel {
      background-color: #f15a29;

      &.switched {
        background-color: #00b1cb;
      }
    }
  }
}

.burger-btn {
  position: fixed;
  width: 100px;
  top: calc(5*0.5625vw);
  right: 5vw;

  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 3;
  //mix-blend-mode: difference;

  .text {
    margin-right: 10px;
    //margin-top: 12px;
    font-size: 22px;
    font-weight: bold;
    //color: #f1f2f2;
    //mix-blend-mode: difference;
  }

  .icon {
    cursor: pointer;
    width: 40px;
  }
}

.nav-display {
  margin: auto;
  width: 100%;
  height: calc(10*0.5625vw);
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  z-index: 1;

  &.colored {
    color: #ed7931;
  }

  .item {
    display: flex;
    //align-items: center;

    .current {
      height: 0;
      font-size: 2.5em;
    }

    .slash {
      height: 0;
      margin-top: 0;
      font-size: 3em;
    }

    .max {
      height: 0;
      margin-top: 1vw;
      font-size: 1.75em;
    }
  }
}

.video-pop-up{
  position: absolute;
  top: calc(60 * 0.5625vw);
  right: 0;
  display: flex;
  flex-direction: column;

  .top {
    display: flex;
    flex-direction: row;
    //height: 60px;

    .action {
      font-weight: bold;
      font-size: 1.5em;
      color: white;
      text-align: right;
      margin-right: 1vw;
      display: flex;
      flex-direction: column;
    }

    .line {
      border: white 1px solid;
      width: 0;
      height: calc(1.5em * 2.5);
      //margin-bottom: 1px;

      .circle {
        background-color: white;
        border-radius: 100%;
        width: 10px;
        height: 10px;
        transform: translate(-50%,-50%);
      }
    }
  }

  .img img{
    width: 15vw;
  }
}

.screen-title {
  transform: translate(2vw,calc(-50% + 50vh)) rotate(180deg);
  width: 0;
  height: 0;
  white-space: nowrap;
  writing-mode: vertical-rl;

  font-size: 2em;
  font-weight: bold;
  text-align: center;

  &.dark {
    color: black;
  }

  &.white {
    color: white;
  }
}

.btn {
  overflow: hidden;
  width: 10vw;
  border: 3px solid white;
  border-radius: 10px;
  text-align: center;

  .download {
    //overflow: hidden;
    font-size: 2vw;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
    transition: 0.5s;

    .text {
      z-index: 1;
      //mix-blend-mode: difference;
    }

    //&:hover {
    //  transform: scale(1.2);
    //}
  }

  .ripple-effect {

    //display: inline-block;
    //position: relative;
    //overflow: hidden;
    //cursor: pointer;
    //vertical-align: middle;
    //user-select: none;
    //z-index: 1;
    //border:1px solid transparent;
    //background-size: 0 0;
    //background: rgb(255, 255, 255);

    .ripple {
      display: block;
      //position: absolute;
      width: 0;
      height: 0;
      border-radius: 100%;
      background: rgb(255, 255, 255);
      transform: scale(0);
      pointer-events: none;
    }

    &.animated {
      animation: ripple 0.6s cubic-bezier(.165,.85,.45,1);
      animation-fill-mode: forwards;
    }

    .animated-back {
      animation: rippleback 0.6s cubic-bezier(.165,.85,.45,1);
      animation-fill-mode: forwards;
    }

    @keyframes ripple {
      0% {
        //opacity: 1;
        //transform: scale(0);
        background-size: 0;
      }
      100% {
        //opacity: 0;
        //transform: scale(.5);
        background-size: 200%;
      }
    }
    @keyframes rippleback {
      0% {
        //opacity: 1;
        //transform: scale(0.5);
        background-size: 200%;
      }
      100% {
        //opacity: 0;
        //transform: scale(0);
        background-size: 0;
      }
    }

    &.ripple-dark {
      .ripple {
        background: rgb(0, 0, 0) !important;
      }
    }

    &.ripple-red {
      .ripple {
        background: rgb(244, 67, 54) !important;
      }
    }

    &.ripple-orange {
      .ripple {
        background: rgb(255, 152, 0) !important;
      }
    }

    &.ripple-yellow {
      .ripple {
        background: rgb(255, 235, 59) !important;
      }
    }

    &.ripple-green {
      .ripple {
        background: rgb(76, 175, 80) !important;
      }
    }

    &.ripple-purple {
      .ripple {
        background: rgb(156, 39, 176) !important;
      }
    }

    &.ripple-teal {
      .ripple {
        background: rgb(0, 150, 136) !important;
      }
    }

    &.ripple-pink {
      .ripple {
        background: rgb(233, 30, 99) !important;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .video-pop-up {
    top: calc(100vw);
    .top {
      visibility: hidden;
    }
    .img img{
      width: 70vw;
    }
  }

  .main-logo {
    left: 2vw;
    width: 60px;
    &.short {
      width: 30px;
    }
  }
  .burger-btn {
    top: calc(1*0.5625vw);
    right: 1vw;
    .text {
      visibility: hidden;
    }

    .icon {
      transform: scale(0.75);
    }
  }
}

.link {
  cursor: pointer;
  margin: 3% 1% 1%;
  color: #ed7931;
  border: #ed7931 2px solid;
  border-radius: 5px;
  font-size: 2em;
  font-weight: bold;
  padding: 0.25% 2%;
  width: fit-content;

  &.white {
    color: white;
    border-color: white;
  }
}