.orange-bkg {
  background-color: #f15a29;
  width: 100vw;
  height: 100vh;
  color: white;
  overflow: hidden;
}

.white-bkg {
  background-color: white;
  width: 100vw;
  height: 100vh;
  color: black;
  overflow: hidden;
}

.style-screen-1 {
  display: flex;
  flex-direction: row;
  //overflow: hidden;

  .half-left {
    height: 90vh;
    //overflow: hidden;
    width: 50vw;

    img {
      //height: 101vh;
      width: 39vw
    }
  }

  .half-right {
    padding-top: 15%;
    display: flex;
    flex-direction: row;

    .overbite {
      transform: translate(-10%,-5%);
      width: .5vw;
      font-weight: bold;
      font-size: 1.2em;

      .index {
        transform: translate(-100%,0);
      }

      .line {
        border: white 1px solid;
        width: 0;
        height: 100px;
        margin-bottom: 5vh;
        transform: rotate(180deg);

        .circle {
          background-color: white;
          border-radius: 100%;
          width: 10px;
          height: 10px;
          transform: translate(-50%,-50%);
        }
      }
    }

    .title-block {
      padding-top: 8%;

      .screen-name {
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 3.5vh;
      }

      .title {
        display: flex;
        font-weight: bold;
        flex-direction: column;
        font-size: 5em;
        line-height: 1;
        margin-bottom: 3.5vh;
      }

      .icons {
        img {
          filter: brightness(200%);
          width: 25px;
          margin-top: 1em;
          margin-right: 2em;
        }
      }
    }
  }
}

.style-screen-2 {
  display: flex;
  flex-direction: row;

  .half-left {
    width: 50vw;
    padding-top: 15%;
    padding-left: 10%;

    .title {
      display: flex;
      flex-direction: column;
      font-size: 4em;
      font-weight: bold;
      line-height: 0.9;
      margin-bottom: 3vh;
    }

    .subtitle {
      display: flex;
      flex-direction: column;
      font-size: 1.5em;
    }
  }

  .half-right {
    transform: scale(0.8);
  }

}

.style-screen-3 {
  display: flex;
  flex-direction: row;
  align-items: center;


  .half-left {
    display: flex;
    flex-direction: row;
    font-size: 1.7em;
    width: 0;
    white-space: nowrap;
    z-index: 1;
    transform: translate(14vw,0);

    .quarter{
      display: flex;
      flex-direction: column;

      margin-left: 0;
      margin-right: 5vw;

      .title {
        font-weight: bold;
        margin-bottom: 1vh;
      }

      span {
        margin-bottom: 0.5vh;
      }
    }

  }

  .img {
    margin: auto;

    img {
      width: 40vw;
    }
  }
}

.style-screen-4 {
  display: flex;
  align-items: center;
  justify-content: center;

  .grid {
    width: 60vw;
    display: flex;
    flex-direction: row;
    transform: translate(0,-10%)  scale(0.9);

    .right {
      display: flex;
      flex-direction: column;
      margin-right: 2vw;

      .bottom {

        .right-img-left {
          width: 15vw;
          margin-right: 2vw;
        }
        .right-img-right {
          width: 15vw;
        }
      }

      .right-img-top {
        width: 32vw;
        margin-bottom: 2vw;
      }
    }
    .img-left {
      margin-right: 2vw;
      width: 30%;
      height: 30%;
    }

  }
}

