
.footer {
  color: white;

  .download-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;

    &.purple {
      background-color: #490e67;
    }

    &.blue {
      background-color: #00b1cb;
    }

    &.orange {
      background-color: #ed7931;
    }

    &.red {
      background-color: #e53951;
    }

    .name {
      margin-right: 3vw;
      margin-left: 3vw;
      writing-mode: vertical-rl;
      font-size: 2em;
      font-weight: bold;
      text-align: center;

      transform: rotate(180deg);
    }

    .main-block {
      margin-left: 30vw;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .subtitle {
        font-weight: bold;
        font-size: 2em;
        margin-bottom: 1.5vh;
      }

      .title {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        font-size: 4em;
        margin-bottom: 3vh;
      }
    }
  }

  .contact-section {
    background-image: url('../assets/menu-bkg.jpg');
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .main-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      font-size: 2em;

      .logo {
        width: 140px;

      }

      .slogan {
        margin: 1vh;
        width: 280px;
      }
    }

    .bottom-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;

      .icons {
        img {
          filter: brightness(200%);
          width: 25px;
          margin-top: 1em;
          margin-right: 1em;
        }
      }

    }
  }
}