.blue-bkg {
  background-color: #00b1cb;
  width: 100vw;
  height: 100vh;
  color: white;
  overflow: hidden;
}

.white-bkg {
  background-color: white;
  width: 100vw;
  height: 100vh;
  color: black;
  overflow: hidden;
}

.form-screen-1 {
  display: flex;
  flex-direction: row;

  .half-left {
    //height: 100vh;
    //overflow: hidden;
    //width: 50vw;
    min-width: 50vw;
    height: 45vw;

    img {
      width: 680px;
    }
  }

  .half-right {
    padding-top: 15%;
    display: flex;
    flex-direction: row;

    .overbite {
      transform: translate(-10%, -5%);
      width: .5vw;
      font-weight: bold;
      font-size: 1.2em;

      .index {
        transform: translate(-100%, 0);
      }

      .line {
        border: white 1px solid;
        width: 0;
        height: 100px;
        margin-bottom: 5vh;
        transform: rotate(180deg);

        .circle {
          background-color: white;
          border-radius: 100%;
          width: 10px;
          height: 10px;
          transform: translate(-50%, -50%);
        }
      }
    }

    .title-block {
      padding-top: 8%;

      .screen-name {
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 3.5vh;
      }

      .title {
        display: flex;
        font-weight: bold;
        flex-direction: column;
        font-size: 5em;
        line-height: 1;
        margin-bottom: 3.5vh;
      }

      .icons {
        img {
          filter: brightness(200%);
          width: 25px;
          margin-top: 1em;
          margin-right: 2em;
        }
      }
    }
  }
}

.form-screen-2 {
  display: flex;
  flex-direction: row;
  align-items: center;

  .half-left {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5em;
    //padding-top: 30vh;


    .quarter{
      display: flex;
      flex-direction: column;
      margin-left: 0;
      margin-right: 2vw;

      .title {
        font-weight: bold;
        margin-bottom: 1vh;
      }
      span {
        margin-bottom: 0.5vh;
      }
    }

  }

  .half-right {
    width: 50vw;
    //padding-top: 15%;

    .title {
      display: flex;
      flex-direction: column;
      font-size: 4em;
      font-weight: bold;
      line-height: 0.9;
      margin-bottom: 3vh;
    }

    .subtitle {
      display: flex;
      flex-direction: column;
      font-size: 1.5em;
    }
  }

}

.form-screen-3 {
  display: flex;
  flex-direction: row;
  align-items: center;

  .img {
    margin: auto;

    img {
      width: 40vw;
      min-width: 600px;
    }
  }

  .text {
    font-weight: bold;
    transform: translate(15vw, 0);
    white-space: nowrap;
    width: 0;
    z-index: 1;

    .top {
      font-size: 2.5em;
      line-height: 1;
    }

    .bottom {
      font-size: 5em;
      transform: translate(0,-20%);
    }

  }
}

.form-screen-4 {
  display: flex;
  //align-items: center;
  //justify-content: center;

  .grid {
    margin: auto;
    width: 60vw;
    display: flex;
    flex-direction: row;
    transform: translate(0,-10%)  scale(0.9);

    .left {
      display: flex;
      flex-direction: column;
      margin-right: 2vw;

      .top {

        .left-img-left {
          width: 15vw;
          margin-right: 2vw;
          margin-bottom: 2vw;
        }
        .left-img-right {
          width: 15vw;
          margin-bottom: 2vw;
        }
      }

      .left-img-bottom {
        width: 32vw;
      }
    }
    .img-right {
      width: 30%;
      height: 30%;
    }

  }

}

