.menu-bkg {
  background-color: black;
  background-image: url("../assets/menu-bkg.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
}
.main {
  padding-top: 15vw;
  width: 100vw;
  height: 40vh;

  display: flex;
  flex-direction: row;
  color: white;

  .half {
    width: 50%;
    align-items: center;

    &.navtable {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;

      .navitem {
        display: flex;
        flex-direction: row;

        .index {
          color: #808285;
          font-size: 1.7em;
          margin-top: 1vh;
          font-weight: bold;
        }

        .name {
          -webkit-text-fill-color: black;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: white;
          font-weight: bold;
          margin-left: 2vw;
          font-size: 4em;

          &.sel {
            -webkit-text-fill-color: white;
            -webkit-text-stroke-width: 0;
          }
        }
      }
    }

    &.info {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      //padding-left: 15vw;
      padding-top: 10vh;

      .title {
        font-size: 3em;
        display: flex;
        flex-direction: column;

        span {
          margin: 0;
          line-height: 0.9;
          font-weight: bold;
        }
      }

      .subtitle {
        font-size: 1.5em;
        margin-left: .1em;
        margin-top: .5em;
      }

      .icons {
        img {
          width: 25px;
          margin-top: 1em;
          margin-right: 1em;
        }
      }
    }
  }
}



@media only screen and (max-width: 768px) {
  .main {
    flex-direction: column;

    .half {
      //width: 100%;
      margin: auto;
      height: 50vh;

      &.info {
        transform: scale(2.5);

        .icons {
          img {
            transform: scale(0.5);
          }
        }
      }

      &.navtable {
        //transform: translate(-50%,0);
        //margin-left: 75%;
        //margin-top: 50%;
        margin-top: 20vh;

        .navitem {
          margin-top: 5%;
          .index {
            font-size: 4em;
          }
          .name {
            font-size: 8em;
          }
        }
      }
    }
  }
}
