.menu-bkg {
  background-color: black;
  background-image: url("../assets/menu-bkg.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
}

.main {
  padding-top: 15vw;
  width: 100vw;
  height: 40vh;

  display: flex;
  flex-direction: row;
  color: white;

  .half {
    width: 50%;

    &.navtable {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .navitem {
        display: flex;
        flex-direction: row;

        .index {
          color: #808285;
          font-size: 1.7em;
          margin-top: 1vh;
          font-weight: bold;
        }

        .name {
          -webkit-text-fill-color: black;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: white;
          font-weight: bold;
          margin-left: 2vw;
          font-size: 4em;

          &.sel {
            -webkit-text-fill-color: white;
            -webkit-text-stroke-width: 0;
          }
        }
      }
    }

    &.info {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding-left: 15vw;
      padding-top: 10vh;

      .title {
        font-size: 3em;
        display: flex;
        flex-direction: column;

        span {
          margin: 0;
          line-height: 0.9;
          font-weight: bold;
        }
      }

      .subtitle {
        font-size: 1.5em;
        margin-left: .1em;
        margin-top: .5em;
      }

      .icons {
        img {
          width: 25px;
          margin-top: 1em;
          margin-right: 1em;
        }
      }
    }
  }
}