

.mobile {
  width: 100vw;
  background-size: 100% auto;
  background-repeat: no-repeat;

  &.product {
    height: 1500vw;

    &.short {
      height: 1300vw;
    }
  }

  &.start {
    height: 895vh;
  }
}