
.mobile {

  .video-pop-up {
    top: calc(100vw);

    .top {
      visibility: hidden;
    }

    .img img {
      width: 70vw;
    }
  }

  .main-logo {
    left: 2vw;
    width: 60px;

    &.short {
      width: 30px;
    }
  }

  .burger-btn {
    &.mobile {
      top: calc(1 * 0.5625vw);
      right: 1vw;

      .text {
        visibility: hidden;
      }

      .icon {
        transform: scale(0.75);
      }
    }
  }
}