.purple-bkg {
  background-color: #490e67;
  width: 100vw;
  height: 100vh;
}
.start-screen {
  .screen-index {
    width: 100vw;
    padding-top: 15vh;
    padding-bottom: 2.5vh;
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;

    -webkit-text-fill-color: #490e67;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  }

  .content {
    //background-color: #282c34;
    margin: auto;
    transform: translate(-5%, 0);
    width: 70vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;

    .item {
      &.title {
        margin-right: 3vw;
        margin-left: 3vw;
        writing-mode: vertical-rl;
        font-size: 2em;
        font-weight: bold;
        text-align: center;

        transform: rotate(180deg);
      }

      &.img {
        img {
          width: 40vw;
        }
      }

      &.descrip {
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 25vw;

        .title {
          font-size: 8em;
          font-weight: bold;
          display: flex;
          line-height: 1;
          height: 26vh;
          //width: 30vw;
          flex-wrap: nowrap;
          flex-direction: column-reverse;

          margin-bottom: 5vh;
          transform: translate(-20%, 0%);

          &.pan-right {
            text-align: right;
            transform: translate(10%, 0%);
          }
        }

        .subtitle {
          margin-left: 2vw;
          margin-right: 2vw;
          display: flex;
          flex-direction: column;
          font-size: 2em;

          &.pan-right {
            text-align: right;
          }
        }

        .link {
          margin-left: 2vw;
          margin-right: 2vw;
          margin-top: 2vh;
          padding-bottom: 1vh;
          color: deepskyblue;
          font-size: 1.75em;

          &.pan-right {
            text-align: right;
          }
        }

        .bar {
          margin-left: 2vw;
          margin-right: 2vw;
          width: 25%;
          border-style: solid;
          border-width: 0;
          border-bottom-color: deepskyblue;
          border-bottom-width: 5px;

          &.pan-right {
            align-self: flex-end;
          }
        }
      }
    }
  }
}