.title-page {

  .content {
    padding-top: 22%;
    margin-left: 55%;
    width: 30vw;

    .title {
      font-size: 5em;
      font-weight: bold;
    }

    .index {
      font-weight: bold;
      padding-top: 5%;
      margin-right: 1%;
      font-size: 1.5em;
    }
  }

}

.intro {
  .content {
    width: 50vw;
    margin-left: 50%;
    justify-content: center;

    .title {
      font-size: 4em;
      font-weight: bold;
      border-bottom: #ed7931 solid 5px;
      width: fit-content;
    }

    .info {
      padding-top: 5%;
      margin-right: 1%;
      font-size: 2em;
      .space {
        width: 1em;
        height: 1em;
      }
    }
  }
}

.kit-title {
  .content {
    align-items: center;
    padding-top: 20%;

    .title {
      font-size: 5em;
      font-weight: bold;
      margin-bottom: 1%;
    }

    .subtitle {
      font-size: 2em;
    }
  }
}

.product {
  .content {
    margin-left: 7%;
    padding-top: 1%;
    padding-left: 3%;
    margin-top: 20%;

    &.half {
      width: 40vw;
      .index {
        padding-top: 2%;
        margin-right: 1%;
      }
      .info {
        margin-left: 4%;
      }
      .link {
        margin: 8% 4% 4%;
      }
    }

    .subtitle {
      font-size: 1.75em;
      font-weight: bold;
    }

    .title {
      font-size: 5em;
      font-weight: bold;
      margin-bottom: 1%;
    }

    .index {
      font-weight: bold;
      padding-top: 1%;
      font-size: 1.5em;
    }

    .info {
      margin-left: 1.5%;
      font-size: 1.25em;
    }

    .link {
      margin: 3% 1% 1%;
      color: #ed7931;
      border: #ed7931 2px solid;
      border-radius: 5px;
      font-size: 2em;
      font-weight: bold;
      padding: 0.25% 2%;
      width: fit-content;
    }
  }
}

.resources {
  .content {
    .header {
      height: 10vh;
      padding-top: 1%;
      align-items: center;

      .title {
        font-size: 5em;
        font-weight: bold;
      }
      .subtitle {
        font-size: 2em;
      }
    }
    .subcontent {
      margin-left: 50%;
      margin-top: 13%;
      font-size: 1.5em;
      .item {
        align-items: center;
        .box {
          width: 1vh;
          height: 2vw;
          margin-right: 5%;
          margin-bottom: 2%;
        }
      }
    }
  }
}