.title-page {

  .content {
    padding-top: 22%;
    margin-left: 55%;
    width: 30vw;

    .title {
      font-size: 5em;
      font-weight: bold;
    }

    .index {
      font-weight: bold;
      padding-top: 5%;
      margin-right: 1%;
      font-size: 1.5em;
    }
  }

}

.intro {
  .content {
    width: 50vw;
    margin-left: 50%;
    justify-content: center;

    .title {
      font-size: 4em;
      font-weight: bold;
      border-bottom: #ed7931 solid 5px;
      width: fit-content;
    }

    .info {
      padding-top: 5%;
      margin-right: 1%;
      font-size: 2em;
      .space {
        width: 1em;
        height: 1em;
      }
    }
  }
}

.kit-title {
  .content {
    align-items: center;
    padding-top: 20%;

    .title {
      font-size: 5em;
      font-weight: bold;
      margin-bottom: 1%;
    }

    .subtitle {
      font-size: 2em;
    }
  }
}

.product {
  .content {
    margin-left: 7%;
    padding-top: 19%;
    padding-left: 7%;

    .subtitle {
      font-size: 1.75em;
      font-weight: bold;
    }

    .title {
      font-size: 5em;
      font-weight: bold;
      margin-bottom: 1%;
    }

    .index {
      font-weight: bold;
      padding-top: 1%;
      font-size: 1.5em;
    }

    .info {
      margin-left: 1.5%;
      font-size: 1.25em;
    }

  }
}

.resources {
  .content {
    .header {
      height: calc(10*0.5625vw);
      padding-top: 1%;
      align-items: center;

      .title {
        font-size: 5em;
        font-weight: bold;
      }
      .subtitle {
        font-size: 2em;
      }
    }
    .subcontent {
      margin-left: 50%;
      margin-top: 13%;
      font-size: 1.5em;
      .item {
        align-items: center;
        .box {
          width: calc(1*0.5625vw);
          height: 2vw;
          margin-right: 5%;
          margin-bottom: 2%;
        }
      }
    }
  }
}